streamlit
ultralytics
opencv-python
opencv-python-headless
pytesseract
Pillow
numpy
pandas
plotly
torch
torchvision
scikit-learn
PyYAML
tqdm
fastapi
uvicorn
python-multipart
requests
matplotlib
seaborn
albumentations
imutils
pdf2image
python-dotenv
